.sidebar {
  width: 240px;
  display: flex;
  flex-direction: column; /* 2 elem van benne: nav és footer */
  border-right: 1px solid #ddd; /* main Content divtől elválasztja */
  padding: 12px; /* box model értelmében elválasztja az aside contentet az aside bordertől */
}

.sidebar__nav {
  flex: 1; /* Töltse ki a rendelkezésre álló helyet */
  overflow: auto; /* később ha sok menüpont lenne, ez görgethető */
}

.sidebar__list {
  list-style: none; /* Eltünteti a lista pöttyöket */
  margin: 0; /* Kinullázzuk az alapformázását */
  padding: 0; /* Kinullázzuk az alapformázását */
  display: grid; /* Egymás alatti elemek, itt nem kell flex, bár látszólag semmi nem változik*/
  gap: 8px; /* Listaelemek közötti függőleges távolság */
}

.sidebar__link {
  width: 100%; /*A gomb kitölti a szülő (sidebar) szélességét */
  text-align: left; /* Balra igazítás. (A gomb defaultja középen lenne */
  padding: 10px 12px; /* Növeljük a méretét + a kattintható felületet */
  border: 1px solid transparent; /* Alapjáraton ne látszódjon a border, mert ez inkább menü item mint sem gomb */
  background: transparent;
  border-radius: 8px; /* Lekerekített sarok */

  display: block; /* fontos, mert <a> elem lett a NavLink hatására */
  text-decoration: none; /* link aláhúzás eltüntetése */
  color: inherit;
}
/*Sima hover állapot*/
.sidebar__link:hover {
  border-color: #ccc;
  background: #f7f7f7;
}

/* aktív menüpont */
.sidebar__link--active {
  font-weight: 600;
  background: #eee;
}

/* Vizuálisan elkülönítjük a menü többi részétől*/
.sidebar__footer {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
}

.sidebar__logout {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}
