/* Kapjon egy fix alapszélességet, a jövőben lehet esetleg korlátja. De nem jó, ha túl nagy, vagy túl kicsi, illetve a relatív szélesség sem mert akkor ugrálni fog a különböző kijelzőkön */
.sidebar {
    width: 300px;
    background-color: #f4f6f8;
    padding-top: 16px;
    border: 2px solid green;
}

.sidebar h1 {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 1.2rem;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: 12px 16px;     /* belső levegő a szövegnek */
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #e1e5ea;
}